.box {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 40px 80px -20px rgba(47,52,58,.5);
    max-width: 360px;
    padding: 30px;
    width: '100%'
}

.box_title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -0.03em;
    margin-bottom: 20px
}