.judge_desc {
    font-size: 16px
}

.judge_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px
}

.judge_cards {
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 5px 15px -50px rgba(0, 0, 0, .25);
    cursor: pointer;
    display: flex;
    padding: 20px;
    transition: all 0.25s ease
}

.judge_cards:hover {
    border-color: var(--primary) !important;
    box-shadow:  0 4px 16px -6px color-mix(in srgb, var(--primary) 40%, transparent)
}

.judge_cards_title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3em
}

.player_pick_answer {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    text-transform: uppercase
}

.player_card_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px
}

.player_card {
    align-items: center;
    background: #fff;
    border-radius: 12px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
    transition: all 0.25s ease
}

.player_card:hover {
    border-color: var(--primary) !important;
    box-shadow: 0 5px 15px -5px color-mix(in srgb, var(--primary) 40%, transparent)
}

.player_card_title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 700
}

.player_card_check {
    align-items: center;
    border-radius: 999px;
    display: flex;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 600;
    height: 22px;
    justify-content: center;
    width: 22px
}

.score_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

.score_player {
    align-items: center;
    border-radius: 999px;
    display: flex;
    gap: 10px;
    padding: 5px 15px 5px 10px
}

.score_judge_label {
    background: #000;
    border-radius: 999px;
    color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 11px;
    font-weight: 700;
    padding: 3px 10px
}

.score {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: center
}

.you_judge {
    border-radius: 999px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 12px
}

.dot {
    border-radius: 999px;
    display: inline-block;
    height: 3px;
    width: 3px
}

.clock {
    align-items: center;
    background: #fff;
    border-radius: 999px;
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    gap: 10px;
    /* justify-content: center; */
    min-width: 80px;
    padding-left: 10px;
    text-align: center
}

.clock_dot {
    border-radius: 999px;
    display: inline-block;
    flex-shrink: 0;
    height: 8px;
    width: 8px
}