.incdec {
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 800;
    padding: 15px
}

.langBt {
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    padding: 15px;
    transition: all 0.15s
}